---
# Print styles
---

// First, let's set character encoding. Don't change this.
@charset "utf-8";

// -------------
// Set variables
// -------------

// First, we set several variables related to overall page setup.
$page-size: A4;
$margin-top: 25mm;
$margin-bottom: 15mm;
$margin-outside: 15mm;
$margin-inside: 15mm;
$bleed: 0;
$trim: 0;
$crop-marks: none; // crop | none

// We name font variables for two categories:
// - 'text' fonts are used for body text and some page features;
// - 'display' fonts are used for headings and similar short-string features.
// For each category, we set a main font and a secondary font, allowing up to four fonts.
// Finally, we set a fifth, monospace font for elements like computer code.
$font-text-main: "Noto Serif", serif;
$font-text-secondary: "Noto Serif", sans-serif;
$font-display-main: "Noto Serif", sans-serif;
$font-display-secondary: "Noto Serif", serif;
$font-code: "Inconsolata", monospace;

// Finally, we set variables related to text flow.
$font-size-default: 9pt;
$line-height-default: 12pt; // Set in points. For consistent baselines, all other line heights and vertical spaces are based on this.
$text-align: left;
$orphans: 1; // Minimum number of lines that must be left at the bottom of the first page
$widows: 1; // Minimum number of lines that must be left at the top of the second page
$letter-spacing-text: 0em; // Default letter-spacing for p, ul, ol, dl. Set in ems, e.g. 0.01em for 10/1000s of an em.
$hyphenation: auto; // Can be auto, none, or manual (only breaks on hyphens and soft hyphens)
$hyphenation-dictionary: ""; // File name of dictionary in css/dictionaries.

// Should chapters start on a right-hand page (recto) or on any page?
// This setting applies to the frontmatter, dedication-page, epigraph-page and chapter page styles.
// (The halftitle-page, title-page and contents-page page styles always start on a recto.)
$start-on: auto; // right or auto or left ()

// Style of page numbers on frontmatter pages
// Remember to tag links to front matter pages in your TOC with {:.frontmatter-reference}
$frontmatter-reference-style: decimal; // lower-roman, decimal, see http://www.princexml.com/doc/gen-content/#idp54010640

// Set the content of headers and footers.
//
// For no content: normal
// For a page number: counter(page)
// For the last h1 (increment to h2, h3, h4, h5, h6 as needed): string(h1-text, last)
// For the title attribute of the last h1 (increment to h2, h3, h4, h5, h6 as needed): string(h1-title, last)
// Instead of last (last on pag) you can also use first (first on page) or start (string set on previous page).
// (Note: if you use title attributes, you must add them for every heading at the heading-level you choose.)
// For a phrase: "Any phrase in quotes"
// For an em space: "\2003"
// For other special characters, see CSS (ISO) at https://brajeshwar.github.io/entities/

// Verso (left-hand-page)
$verso-top: string(h1-text, last);
$verso-top-right: " ";
$verso-top-left: counter(page);
$verso-top-left-corner: normal;
$verso-top-right-corner: normal;
$verso-bottom: normal;
$verso-bottom-left: normal;
$verso-bottom-right: normal;
$verso-bottom-left-corner: normal;
$verso-bottom-right-corner: normal;

// Recto (right-hand-page)
$recto-top: string(h2-text, first);
$recto-top-right: counter(page);
$recto-top-left: " ";
$recto-top-left-corner: normal;
$recto-top-right-corner: normal;
$recto-bottom: normal;
$recto-bottom-left: normal;
$recto-bottom-right: normal;
$recto-bottom-left-corner: normal;
$recto-bottom-right-corner: normal;

// Verso (left-hand-page) for .frontmatter pages (`style: frontmatter`)
$verso-top-frontmatter: normal;
$verso-top-left-frontmatter: normal;
$verso-top-right-frontmatter: normal;
$verso-top-left-corner-frontmatter: normal;
$verso-top-right-corner-frontmatter: normal;
$verso-bottom-frontmatter: normal;
$verso-bottom-left-frontmatter: normal;
$verso-bottom-right-frontmatter: normal;
$verso-bottom-left-corner-frontmatter: normal;
$verso-bottom-right-corner-frontmatter: normal;

// Recto (right-hand-page) for .frontmatter pages (`style: frontmatter`)
$recto-top-frontmatter: normal;
$recto-top-left-frontmatter: normal;
$recto-top-right-frontmatter: normal;
$recto-top-left-corner-frontmatter: normal;
$recto-top-right-corner-frontmatter: normal;
$recto-bottom-frontmatter: normal;
$recto-bottom-left-frontmatter: normal;
$recto-bottom-right-frontmatter: normal;
$recto-bottom-left-corner-frontmatter: normal;
$recto-bottom-right-corner-frontmatter: normal;

// Special highlights for temporary debugging/viewing. Specify a colour for highlighting. 'inherit' for none.
$highlight-tightened: inherit;
$highlight-loosened: inherit;

// ----------------------------------------------------
// Import font files (@font-face) for fonts you specify
// You may need to add the actual font files to `css/fonts`
// ----------------------------------------------------

//@import "fonts/linux-libertine";
//@import "fonts/source-sans-pro";
//@import "fonts/inconsolata";
//@import "fonts/crimson";
@import "fonts/noto-serif";
//@import "fonts/noto-sans";

// ---------------------
// Import theme partials
// ---------------------

@import "themes/classic/print";

// -------------
// Custom styles
// -------------

// Add any custom style rules here.

// No page start depth
.halftitle-page, .title-page, .dedication-page, .epigraph-page, .contents-page, .chapter {
	margin-top: 0;
}


// Two columns
.contents-page, .chapter {
	column-count: 2;
}

// Headings
h1, h2, h3, h4, h5, h6 {
	font-size: ($font-size-default * 1.2);
	font-weight: bold;
	line-height: $line-height-default;
	margin-top: $line-height-default;
	column-break-after: avoid;
	clear: both; // where sidenotes float in the way
}
h1 {
	font-size: $font-size-default * 2;
	line-height: $line-height-default * 2;
	margin-top: 0;
	column-span: all;
}

// Lists

ol, ul {
	padding-left: 1.75em;
}
li {
	margin: 0;
}
li:first-of-type {
	page-break-after: auto;
}
li:last-of-type {
	page-break-before: auto;
}
li li:first-of-type {
	page-break-before: auto;
}

// Nested ordered lists
ol li {
	list-style-type: decimal;
}
ol li li {
	list-style-type: lower-alpha;
}
ol li li li {
    list-style-type: lower-roman;
}
// Nested ordered lists in blockquotes in lists
ol li blockquote li {
	list-style-type: decimal;
}
ol li blockquote li li {
	list-style-type: lower-alpha;
}
ol li blockquote li li li {
	list-style-type: lower-roman;
}
// Paragraphs within lists (e.g. s239)
li ol + p {
    margin-top: $line-height-default;
}

// Blockquotes

blockquote {
	border-left: 3pt solid cmyk(0,0,0,0.3);
	padding-left: $line-height-default * 0.75;
}
blockquote.figure {
	border: 0;
}

// Note blockquotes

blockquote.note {
//	border: 0.5pt solid cmyk(0,0,0,0.3);
	padding: 0;
	border: 0;
	p {
		margin: 0 0 $line-height-default 0;
		font-style: italic;
	}
}

// Contents page

.contents-page {
	ol {
		padding: 0;
	}
	ol li {
	    list-style-type: none;
	}
	li {
	    margin: $line-height-default 0 0 0;
	    font-weight: bold;
	    hyphens: none;
	}
	li li {
	    font-weight: normal;
	    border-top: 0;
	    margin: 0 0 0 $line-height-default;
	}
	.subhead {
		display: block;
		margin-top: $line-height-default;
		font-style: italic;
	}
}

// Footer

@page chapter:left {
	@top {
		width: 90%;
		vertical-align: top;
		text-align: left;
		margin: 15mm 0 5mm 0;
		border-bottom: 0.5pt solid cmyk(0,0,0,0.5);
	}
}
@page chapter:right {
	@top {
		width: 90%;
		vertical-align: top;
		text-align: right;
		margin: 15mm 0 5mm 0;
		border-bottom: 0.5pt solid cmyk(0,0,0,0.5);
	}
}
@page chapter:left {
	@top-left {
		vertical-align: top;
		margin: 15mm 0 5mm 0;
		border-bottom: 0.5pt solid cmyk(0,0,0,0.5);
	}
}
@page chapter:right {
	@top-right {
		vertical-align: top;
		margin: 15mm 0 5mm 0;
		border-bottom: 0.5pt solid cmyk(0,0,0,0.5);
	}
}
@page chapter:left {
	@top-right {
		vertical-align: top;
		margin: 15mm 0 5mm 0;
		border-bottom: 0.5pt solid cmyk(0,0,0,0.5);
	}
}
@page chapter:right {
	@top-left {
		vertical-align: top;
		margin: 15mm 0 5mm 0;
		border-bottom: 0.5pt solid cmyk(0,0,0,0.5);
	}
}
