---
# Child styles
---

.home #nav-bar {
	display: block;
	background-image: url("images/sa-flag-colour-blocks.png");
}
.home #nav-bar p {
	visibility: hidden;
}
p, ul, ol, dl {
	text-indent: 0;
	margin-bottom: 1em;
}
