{% if site.output == 'epub' %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ page.language }}">
<head>
    <title>{{ page.book-title}}: {{ page.title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../Styles/{{ page.stylesheet-epub }}" />
    
    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
        <meta name="DC.Title" content="{{ page.book-title }}" />
        <meta name="DC.Language" content="{{ page.language }}" />
        <meta name="DC.Creator" content="{{ page.author }}" />
        <meta name="DC.Publisher" content="{{ site.publisher }}" />
        <meta name="DC.Date" content="{{ page.publication-date }}" />
        <meta name="DC.Identifier" content="{{ page.isbn-epub }}" scheme="ISBN" />
        <meta name="DC.Relation" content="{{ page.isbn-print }}" scheme="ISBN" />

</head>
<body class="{{ page.style }}">



        {%if page.language == "ts" %}
        <div class="notifications">
        <div class="notifications-alert"></div>
        <p>{{ site.data.snip.notifications.ts-translation-quality }}</p>
        </div><!--.notifications-->
        {% endif %}

        {%if page.language == "tn" %}
        <div class="notifications">
        <div class="notifications-alert"></div>
        <p>{{ site.data.snip.notifications.tn-translation-quality }}</p>
        </div><!--.notifications-->
        {% endif %}

        {%if page.language == "ss" %}
        <div class="notifications">
        <div class="notifications-alert"></div>
        <p>{{ site.data.snip.notifications.ss-translation-quality }}</p>
        </div><!--.notifications-->
        {% endif %}





{% elsif site.output == 'pdf-ebook' %}

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ page.language }}" xml:lang="{{ page.language }}">
<head>
    <title>{{ page.book-title}}: {{ page.title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/css/{{ page.stylesheet-web }}" />
    <link rel="stylesheet" type="text/css" media="print" href="../css/{{ page.stylesheet-print }}" />
    <link rel="stylesheet" type="text/css" media="print" href="../css/print-no-bleed.css" />
</head>
<body class="{{ page.style }}">





{% else %}

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ page.language }}" xml:lang="{{ page.language }}">
<head>
	<title>{{ page.book-title}}: {{ page.title }}</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/css/{{ page.stylesheet-web }}" />
	<link rel="stylesheet" type="text/css" media="print" href="../css/{{ page.stylesheet-print }}" />

	<!-- Google Analytics, runs unless this is running through PrinceXML -->
	<script>
		if (typeof Prince  === "undefined") {
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-74400612-1', 'auto');
			ga('send', 'pageview');
		}
	</script>

</head>
<body class="{{ page.style }}" ontouchstart="" onmouseover="">
<!-- ontouchstart="" onmouseover="" makes :hover/:focus/:active work on iOS touch devices -->

{% endif %}
