@font-face {
    font-family: "Noto Sans";
    src: url(fonts/NotoSans-Regular.ttf);
}
@font-face {
    font-family: "Noto Sans";
    src: url(fonts/NotoSans-Italic.ttf);
	font-style: italic;
}
@font-face {
    font-family: "Noto Sans";
    src: url(fonts/NotoSans-Bold.ttf);
	font-weight: bold;
}
@font-face {
    font-family: "Noto Sans";
    src: url(fonts/NotoSans-BoldItalic.ttf);
	font-weight: bold;
    font-style: italic;
}
