@font-face {
    font-family: "Noto Serif";
    src: url(fonts/NotoSerif-Regular.ttf);
}
@font-face {
    font-family: "Noto Serif";
    src: url(fonts/NotoSerif-Italic.ttf);
	font-style: italic;
}
@font-face {
    font-family: "Noto Serif";
    src: url(fonts/NotoSerif-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "Noto Serif";
    src: url(fonts/NotoSerif-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
